
                    .container2 {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                    }

                    .card2 {
                        position: relative;
                        height: 300px;
                        width: 340px;
                        margin: 10px;
                    }

                    .card2:active {
                        transform: scale(0.96);
                    }

                    .card2 input:checked~.card2-content2 {
                        border-color: #4580E5;
                    }

                    .card2 input {
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                    }

                    .card2 .card2-content2 {
                        position: relative;
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        border-radius: 12px;
                        border: 3px solid #ffffff;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
                    }

                    .card2 img {
                        position: relative;
                        height: 100%;
                        width: 400px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        transition: all ease 0.3s;
                    }

                    .card2:hover img {
                        width: 100%;
                        height: 240px;

                    }

                    .card2 input:checked~.card2-content2 img {
                        filter: grayscale(0.4);
                    }

                    .content2 h4 {
                        margin: 0 0 8px 0;
                    }

                    .content2 p {
                        margin: 0;
                        line-height: 1.5;
                    }

                    .content2 {
                        position: absolute;
                        bottom: -122px;
                        width: 100%;
                        padding: 12px;
                        background-color: #ffffff;
                        transition: all ease 0.3s;
                    }

                    .card2:hover .content2 {
                        bottom: 0;
                    }

                    .card2 input:checked~.card2-content2::before,
                    .card2 input:checked~.card2-content2::after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                    }

                    .card2-content2::before {
                        height: 20px;
                        width: 20px;
                        top: 10px;
                        right: 10px;
                        border: 1px solid #ffffff;
                        border-radius: 50%;
                        background-color: #4580E5;
                    }

                    .card2-content2::after {
                        height: 4px;
                        width: 8px;
                        top: 16px;
                        right: 16px;
                        border: 1px solid #ffffff;
                        border-width: 0 0 2px 2px;
                        transform: rotate(-45deg);
                    }
    